
table {
   max-width: 900px;
   border-collapse: collapse;
   margin-bottom: 30px;

}

th, td {
   border: 1px solid #ccc;
   padding: 12px 16px;
}

th {
   background-color: #f2f2f2;
}

a {
   margin-bottom: 20px;
}

